/* Slidenav 4.1.0-alpha.2 ( https://github.com/tightcode/slidenav ) */
/* .dropdown-menu.collapsing {
    display: block;
  } */
.dropdown-menu {
  background-color: burlywood !important;
  padding-left: 30px !important;
  border: none !important;
  display: block !important;
}

.sticky-top {
  z-index: 5 !important;
}

@media (max-width: 767.98px) {
  .dropdown-menu {
    /* -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s!important;
      -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s!important;
      -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s!important;
      -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s!important; */
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s !important;
    max-height: 0 !important;
    display: block !important;
    overflow: hidden !important;
    opacity: 0 !important;
    visibility: hidden !important;

    position: unset !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .dropdown-menu.show {
    transition: max-height 0.3s, opacity 0.2s, visibility 0s !important;
    max-height: 160px !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: static;
  }
}
@media (min-width: 768px) {
  /* .dropdown>div {
      position: absolute;
      clip: rect(0.5rem, 9999px, 9999px, -9999px);
    } */
  .dropdown-menu {
    /* height: auto!important; */
    opacity: 0 !important;
    z-index: -1 !important;
    display: block !important;

    /* background-color:burlywood!important; */
    transition: transform 0.5s ease, opacity 0.8s ease !important;
  }
  .dropdown-menu:not(.show) {
    position: absolute !important;
    transform: translateY(-100%) !important;
    transition: transform 0.5s ease, opacity 0.3s ease !important;
  }
  .dropdown-menu.show {
    transform: translate(0) !important;
    opacity: 1 !important;
  }
}
