/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* reset */

/* start editing from here */

a {
  text-decoration: none;
}

.txt-rt {
  text-align: right;
}

/* text align right */

.txt-lt {
  text-align: left;
}

/* text align left */

.txt-center {
  text-align: center;
}

/* text align center */

.float-rt {
  float: right;
}

/* float right */

.float-lt {
  float: left;
}

/* float left */

.clear {
  clear: both;
}

/* clear float */

.pos-relative {
  position: relative;
}

/* Position Relative */

.pos-absolute {
  position: absolute;
}

/* Position Absolute */

.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
  vertical-align: top;
}

img {
  max-width: 100%;
}

/*end reset*/

body {
  background: url(./assets/img/2.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  direction: rtl;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
/*-- title --*/

h1 {
  font-size: 3.5em;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 1px 4px rgba(19, 19, 19, 0.52);
  font-style: italic;
  margin: 3vw 1vw;
  font-family: "Tangerine", cursive;
}

h1 span {
  color: #f13f57;
}

/*-- //title --*/

/*-- content --*/
.sub-main-w3 {
  margin: 1vw 5vw;
}

.sub-main-w3 form {
  max-width: 500px;
  margin: 0 auto;
  background: rgba(126, 124, 124, 0.32);
  padding: 2vw;
  box-sizing: border-box;
  box-shadow: 0px 1px 13px 2px rgba(251, 251, 251, 0.09);
  position: relative;
  /* display: table; */
}

p.legend {
  color: #fff;
  font-size: 28px;
  text-align: center;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 1.2em;
}

p.legend span {
  color: #fff;
  margin-left: 10px;
}

.input {
  position: relative;
  margin: 20px auto;
  width: 100%;
}

.input span {
  position: absolute;
  display: block;
  color: #f13f57;
  left: 10px;
  top: 12px;
  font-size: 18px;
}

.input input {
  width: 100%;
  padding: 13px 5px 13px 40px;
  display: block;
  border: 1px solid #ededed;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: #000;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  letter-spacing: 1px;
}

/* For Modal */
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

/*-- copyright --*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
}

.footer h2 {
  direction: ltr;
  font-size: 15px;
  color: rgb(233, 230, 230);
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.8;
}

.footer h2 a {
  color: #f13f57;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 2s all;
}

.footer h2 a:hover {
  color: #fff;
}

@media (max-width: 1920px) {
  h1 {
    font-size: 4vw;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4.5vw;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2.6em;
  }

  .sub-main-w3 {
    float: none;
  }
}

@media (max-width: 600px) {
  .footer h2 {
    letter-spacing: 1px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.3em;
  }

  .sub-main-w3 form {
    padding: 7.5vw;
  }

  .footer h2 {
    letter-spacing: 1px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: auto !important;
    bottom: auto !important;
    left: 80% !important;
    top: 80% !important;
    transform: translate(0px) !important;
    /* transform: translate(160px); */
  }
}

@media (max-height: 520px) {
  .footer {
    display: none;
  }
}

/*--//responsive--*/
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
  opacity: 50%;
  left: 0;
  top: 0;
  bottom: auto;
  transform: translate(-160px);
}

.dropdown-content a {
  color: white !important;
  padding: 0.2rem !important ;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  color: #f13f57 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  border-top: solid 1px #ededed;
  clear: both;
  height: 1px;
  width: 100%;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */
